<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated XOneC -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ru.awk.spb.xonec.XOneC.presentation.XOneCModelWizardID"
            name="%_UI_XOneCModelWizard_label"
            class="ru.awk.spb.xonec.XOneC.presentation.XOneCModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/XOneCModelFile.gif">
         <description>%_UI_XOneCModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated XOneC -->
      <editor
            id="ru.awk.spb.xonec.XOneC.presentation.XOneCEditorID"
            name="%_UI_XOneCEditor_label"
            icon="icons/full/obj16/XOneCModelFile.gif"
            extensions="xonec"
            class="ru.awk.spb.xonec.XOneC.presentation.XOneCEditor"
            contributorClass="ru.awk.spb.xonec.XOneC.presentation.XOneCActionBarContributor">
      </editor>
   </extension>

</plugin>
